In [3]:
import altair as alt
import pandas as pd
import geopandas as gpd 
alt.data_transformers.enable('json') 

pass

In [4]:
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)
names=names[names.dpt.astype('int')<=96]
names

         sexe preusuel annais dpt  nombre
10885       1    AADIL   1983  84       3
10886       1    AADIL   1992  92       3
10888       1    AAHIL   2016  95       3
10892       1    AARON   1962  75       3
10893       1    AARON   1976  75       3
...       ...      ...    ...  ..     ...
3727543     2      ZYA   2011  91       3
3727545     2      ZYA   2013  44       4
3727546     2      ZYA   2013  59       3
3727548     2      ZYA   2018  59       3
3727550     2     ZYNA   2013  93       3

[3471087 rows x 5 columns]

In [5]:
depts = gpd.read_file('departements-version-simplifiee.geojson')

In [6]:
depts

,code,nom,geometry
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ..."
1,02,Aisne,"POLYGON ((4.04797 49.40564, 4.03991 49.39740, ..."
2,03,Allier,"POLYGON ((3.03207 46.79491, 3.04907 46.75808, ..."
3,04,Alpes-de-Haute-Provence,"POLYGON ((5.67604 44.19143, 5.69209 44.18648, ..."
4,05,Hautes-Alpes,"POLYGON ((6.26057 45.12685, 6.29922 45.10855, ..."
...,...,...,...
91,91,Essonne,"POLYGON ((2.22656 48.77610, 2.23298 48.76620, ..."
92,92,Hauts-de-Seine,"POLYGON ((2.29097 48.95097, 2.32697 48.94536, ..."
93,93,Seine-Saint-Denis,"POLYGON ((2.55306 49.00982, 2.58031 48.99159, ..."
94,94,Val-de-Marne,"POLYGON ((2.33190 48.81701, 2.36395 48.81632, ..."
95,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ..."

In [7]:
just_names = names
names = depts.merge(names, how='right', left_on='code', right_on='dpt')
names.sample(5)

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
1346396,59,Nord,"MULTIPOLYGON (((3.04040 50.15971, 3.06301 50.1...",1,ROGER,1982,59,9
2459789,64,Pyrénées-Atlantiques,"POLYGON ((-0.24284 43.58498, -0.21061 43.59324...",2,JANINE,1965,64,4
1321375,50,Manche,"POLYGON ((-1.11962 49.35557, -1.11346 49.32795...",1,RICHARD,1920,50,4
1196326,49,Maine-et-Loire,"POLYGON ((-1.24588 47.77672, -1.23825 47.80999...",1,OLIVIER,1939,49,3
724229,67,Bas-Rhin,"POLYGON ((7.63529 49.05416, 7.67449 49.04504, ...",1,JEAN-BLAISE,1958,67,3

In [8]:
names

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
0,84,Vaucluse,"MULTIPOLYGON (((4.89291 44.36482, 4.90663 44.3...",1,AADIL,1983,84,3
1,92,Hauts-de-Seine,"POLYGON ((2.29097 48.95097, 2.32697 48.94536, ...",1,AADIL,1992,92,3
2,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",1,AAHIL,2016,95,3
3,75,Paris,"POLYGON ((2.41634 48.84924, 2.46226 48.84254, ...",1,AARON,1962,75,3
4,75,Paris,"POLYGON ((2.41634 48.84924, 2.46226 48.84254, ...",1,AARON,1976,75,3
...,...,...,...,...,...,...,...,...
3471082,91,Essonne,"POLYGON ((2.22656 48.77610, 2.23298 48.76620, ...",2,ZYA,2011,91,3
3471083,44,Loire-Atlantique,"POLYGON ((-2.45849 47.44812, -2.45343 47.46207...",2,ZYA,2013,44,4
3471084,59,Nord,"MULTIPOLYGON (((3.04040 50.15971, 3.06301 50.1...",2,ZYA,2013,59,3
3471085,59,Nord,"MULTIPOLYGON (((3.04040 50.15971, 3.06301 50.1...",2,ZYA,2018,59,3
3471086,93,Seine-Saint-Denis,"POLYGON ((2.55306 49.00982, 2.58031 48.99159, ...",2,ZYNA,2013,93,3

In [9]:
names=names.dropna()

### Visualization 2

Is there a regional effect in the data? Are some names more popular in some regions? Are popular names generally popular across the whole country?

In [10]:
temp = names.groupby(['preusuel'], as_index=False).sum()[["preusuel","nombre"]]
temp = temp.sort_values(by=['nombre'])
most_popular = temp.tail(10)
most_unpopular = temp.head(10)

C:\Users\user\AppData\Local\Temp\ipykernel_14004\2323674138.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = names.groupby(['preusuel'], as_index=False).sum()[["preusuel","nombre"]]

In [11]:
temp = names.groupby(['dpt', 'preusuel', 'sexe'], as_index=False).sum()
temp = depts.merge(temp, how='right', left_on='code', right_on='dpt') 
temp = temp[temp.preusuel.isin(most_popular.preusuel.tolist())]

C:\Users\user\AppData\Local\Temp\ipykernel_14004\1118766819.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = names.groupby(['dpt', 'preusuel', 'sexe'], as_index=False).sum()

In [12]:
selection = alt.selection_single(empty='all', fields=['preusuel'])
brush = alt.selection_single()
d1 = alt.Chart(most_popular).mark_bar().encode(
    x='preusuel:O',
    y="nombre:Q",
    color=alt.condition(selection,alt.value('orange'),alt.value('grey'))
).add_selection(selection)

E:\Anaconda\envs\geospatial\lib\site-packages\altair\utils\deprecation.py:65: AltairDeprecationWarning: 'selection_single' is deprecated.  Use 'selection_point'
  warnings.warn(message, AltairDeprecationWarning, stacklevel=1)
E:\Anaconda\envs\geospatial\lib\site-packages\altair\vegalite\v5\api.py:369: AltairDeprecationWarning: The value of 'empty' should be True or False.
  warnings.warn(
E:\Anaconda\envs\geospatial\lib\site-packages\altair\utils\deprecation.py:65: AltairDeprecationWarning: 'add_selection' is deprecated. Use 'add_params' instead.
  warnings.warn(message, AltairDeprecationWarning, stacklevel=1)

In [13]:
map = alt.Chart(temp).mark_geoshape(stroke='white').encode(
    tooltip=['nom', 'code', 'nombre'],
    #color='nombre',
    color = alt.Color('nombre', scale=alt.Scale(range=['blue','red'])),
).transform_filter(selection).properties(width=600, height=400,title='Naitional and regional popularity in France')

In [14]:
d1 | map

alt.HConcatChart(...)